*{
    margin:0;
    padding: 0;
    box-sizing: 0;
}
header{
    width: 100%;
    height: 50px;
    border: 3px solid #000;
    text-align: center;
}
nav{
    width:100%;
    height: 60px;
    text-align: center;
    border: 3px solid #000;
}
main{
    width:100%;
    height:500px;
    text-align:center;
    background-color:aqua;
    background-image: url(./BrewLaboratory/img/BrewLabSticker.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
aside{
    height: 500px;
    width:49%;
    text-align: center;
    border: 3px solid #000;
    float: right;
}
section, article{
    height: 249px;
    width: 49%;
    text-align: center;
    border:3px solid #000;
    float:left;
}
footer{
    width:100%;
    height:60px;
    text-align: center;
    border: 3px solid #000;
    clear:both;
}